@import "../../../../../node_modules/include-media";
@import "../../../../Styles/breakpoints.scss";

.intro {
    color: var(--gray100) !important;

    @include media("<=phone") {
     width: 100% ;       
    }

    @include media(">phone", "<=425px") {
        width: 100%;
    }

    span {
        font-size: 1.25rem;
        padding: 0.5rem;

        @include media("<=phone") {
         width: 90%;
         font-size: 3.25rem;   
        }        

        @include media(">phone", "<=425px") {
            width: 80%;
            font-size: 0.85rem;
            font-weight: 100;
        }
    }

    h3 {
        font-size: 3.2rem;
        line-height: 3.2rem;
        font-weight: 900;
        font-weight: lighter;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;

        @include media("<=phone") {
         width: 90%;
         font-size: 5.5rem;
         margin-bottom: 2.5rem;   
        }

        @include media(">phone", "<=425px") {
            width: 90%;
            font-size: 1.85rem;
            font-weight: 300;
        }
    }

    p {
        margin-top: 1.5rem;
        font-size: 1.105rem;
        line-height: 2.25rem;
        font-weight: lighter;
        text-align: justify;
        width: 890px;
        padding: 0.5rem;

        @include media("<=phone") {
         width: 92%;
         font-size: 2.5rem;

        }

        @include media(">phone", "<=425px") {
            width: 105%;
            font-size: 0.85rem;
            font-weight: 100;
        }
    }
}

.section {
    width: 1180px;

    @include media("<=phone") {
     width: 108%;       
    }

    @include media(">phone", "<=425px") {
        width: 100%;
    }
}
