.content {
    margin: 0 auto 25px;
    color: var(--gray100);
            
    .section {
        max-width: 1220px;
        margin: 0 auto 25px;
        padding: 0 2rem;
        align-items: center;
        justify-content: space-between;
    
        h3 {
            font-size: 3.2rem;
            line-height: 3.2rem;
            font-weight: 900;
            font-weight: lighter;
            margin-bottom: 25px;        
        }

        span {
            font-size: 1.2rem;
            font-weight: lighter;
            text-align: justify;
        }
    }
}

