@import "../../../node_modules/include-media";

.content {
    margin: 0 auto 25px;
    color: var(--gray100);
    

    .section {
        max-width: 1220px;
        margin: 1rem auto;
        align-items: center;
        justify-content: space-between;
        text-align: justify;

        @include media("<=phone") {
            flex-direction: column;
            width: 100%;
            margin-left: 1.5%;
        }
        @include media(">phone", "<=425px") {
            flex-direction: column;
            width: 100%;
        }
        @include media(">425px", "<=tablet") {
            flex-direction: column;
            width: 200%;
            margin-left: 43.5%;
        }
        @include media(">tablet", "<desktop") {
            flex-direction: column;
            width: 200%;
            margin-left: 43.5%;
        }
        @include media(">=desktop") {
        }

        div {
            display: flex;
            align-items: center;
            background: var(--gray700);
            border-radius: 5px;
            padding: 1rem;
            margin-top: 1rem;

            svg {
                font-size: 4rem;
                margin-right: 0.75rem;
                color: var(--primary);

                @include media("<=phone") {
                    font-size: 2rem;
                }
                @include media(">phone", "<=425px") {
                    font-size: 1.5rem;
                }
                @include media(">425px", "<=tablet") {
                    font-size: 5.5rem;
                }
                @include media(">tablet", "<desktop") {
                }
                @include media(">=desktop") {
                }
            }
        }
        h3 {
            font-size: 3.2rem;
            line-height: 3.2rem;
            font-weight: 500;
            margin-bottom: 25px;
            display: flex;
            margin-top: 1.5rem;
            color: var(--primary) !important;
            border: none;

            @include media("<=phone") {
                font-size: 2rem;
                margin-top: 1.5rem;
            }
            @include media(">phone", "<=425px") {
                font-size: 2.5rem;
            }
            @include media(">425px", "<=tablet") {
                font-size: 5.5rem;
                margin-top: 1.5rem;
            }
            @include media(">tablet", "<desktop") {
            }
            @include media(">=desktop") {
            }
        }

        span {
            font-size: 1.2rem;
            font-weight: lighter;
            text-align: justify;
            color: var(--gray100);

            @include media("<=phone") {
                font-size: 0.85rem;
                text-align: justify;
            }
            @include media(">phone", "<=425px") {
                font-size: 0.95rem;
                text-align: justify;
            }
            @include media(">425px", "<=tablet") {
                font-size: 2.95rem;
                text-align: justify;
            }
            @include media(">tablet", "<desktop") {
            }
            @include media(">=desktop") {
            }
        }
    }
}
