.content {
    text-align: justify;
    background: var(--primary);
    padding: 0.75rem;
    border-radius: 5px;
    color: var(--gray100);
    font-size: 12px;
    height: 265px;
    max-height: 265px;
    min-width: 594px;

    h3 {
        color: var(--gray100) !important;
        margin-bottom: 1rem;
        font-size: 24px;
        border-bottom: 1px solid;
        display: flex;

        svg {
            margin-right: 0.5rem;
        }
    }

    span {
        font-size: 1.25rem;
    }
}
