@import '../../../../node_modules/include-media';
@import '../../../Styles/breakpoints.scss';

.contentImage {
    padding: 0 2rem;
    font-size: 1.6rem;
    background: var(--gray700);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 1180px; 
    margin: 0.5rem auto 1.5rem;

    @include media(">phone", "<=425px") {
        padding-bottom: 0.5rem;
        width: 110%;
        margin-left: 3.75%;
    }

}

.contentRow {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
    width: 1180px;

    @include media(">phone", "<=425px") {
        flex-direction: column;
        width: 95%
    }

    img {
        margin-bottom: 0.75rem;
        border-radius: 100%;
        height: 450px;
        padding: 1.5rem;

        @include media(">phone", "<=425px") {
            height: 385px;           
            margin-left: 21px;
        }
    }

}