@import "../../../../node_modules/include-media";


.contentImage {
    padding: 0 2rem;
    font-size: 1.6rem;
    background: var(--gray700);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 1180px;
    margin: 0.5rem auto 1.5rem;

    @include media("<=phone") {
        padding-bottom: 0.5rem;
        width: 127%;
        margin-left: 1%;
    }
    @include media(">phone", "<=425px") {
        padding-bottom: 0.5rem;
        width: 96%;
        margin-left: 2%;
    }
    @include media(">425px", "<=tablet") {
        padding-bottom: 0.5rem;
        width: 250%;
        margin-left: 2.55%;
    }
    @include media(">tablet", "<=desktop") {
        padding-bottom: 0.5rem;
        width: 183.75%;
        margin-left: 1.55%;
    }
    @include media(">=desktop") {

    }
}

.contentRow {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
    width: 1180px;

    @include media("<=phone") {
        flex-direction: column;
        width: 100%;
    }
    @include media(">phone", "<=425px") {
        flex-direction: column;
        width: 95%;
    }
    @include media(">425px", "<=tablet") {
        flex-direction: column;
        width: 100%;
    }
    @include media(">tablet", "<desktop") {
        flex-direction: column;
        width: 100%;
    }
    @include media(">=desktop") {
        width: 112%;
    }

    img {
        margin-bottom: 0.75rem;
        border-radius: 100%;
        height: 450px;
        padding: 1.5rem;

        @include media("<=phone") {
            height: 300px;
        }
        @include media(">phone", "<=425px") {
            height: 305px;
            margin-left: 6%;
        }
        @include media(">425px", "<=tablet") {
            height: 500px    
        }
        @include media(">tablet", "<desktop") {
            height: 550px;
        }
        @include media(">=desktop") {
            
        }
    }
}
