@import "../../../../../node_modules/include-media";

.content {
    text-align: justify;
    background: var(--primary);
    padding: 0.75rem;
    border-radius: 5px;
    color: var(--gray100);
    font-size: 12px;
    max-height: 295px;
    width: 1220px;
    margin-bottom: 1.5rem;

    @include media("<=phone") {
        width: 127%;
        margin-left: 1%;
    }
    @include media(">phone", "<=425px") {
        width: 100%;
        max-height: 1350px;
        margin-bottom: 1.5rem;
    }
    @include media(">425px", "<=tablet") {
        width: 100%;
        max-height: 1350px;
        margin-bottom: 1.5rem;
    }
    @include media(">tablet", "<desktop") {
    }
    @include media(">=desktop") {
    }

    h3 {
        color: var(--gray100) !important;
        margin-bottom: 0.5rem;
        font-size: 24px;
        border-bottom: 1px solid;
        display: flex;

        @include media("<=phone") {
            width: 127%;
            margin-left: 1%;
        }
        @include media(">phone", "<=425px") {
            font-size: 1.15rem;
        }
        @include media(">425px", "<=tablet") {
        }
        @include media(">tablet", "<desktop") {
        }
        @include media(">=desktop") {
        }

        svg {
            margin-right: 0.5rem;
        }
    }

    .section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 1.5rem;

        @include media("<=phone") {
            width: 127%;
            margin-left: 1%;
        }
        @include media(">phone", "<=425px") {
            flex-direction: column;
        }
        @include media(">425px", "<=tablet") {
        }
        @include media(">tablet", "<desktop") {
        }
        @include media(">=desktop") {
        }

        div {
            text-align: center;
        }

        svg {
            width: 150px;
            font-size: 150px;
            align-items: center;
            margin-top: 1.75rem;
            margin-bottom: 1rem;

            @include media("<=phone") {
                width: 127%;
                margin-left: 1%;
            }
            @include media(">phone", "<=425px") {
                font-size: 5rem;
            }
            @include media(">425px", "<=tablet") {
            }
            @include media(">tablet", "<desktop") {
            }
            @include media(">=desktop") {
            }
        }
    }
}
