.content {
    text-align: justify;
    background: var(--primary);
    padding: 0.75rem;
    border-radius: 5px;
    color: var(--gray100);
    font-size: 12px;
    height: 265px;
    max-height: 265px;
    width: 1220px;

    h3 {
        color: var(--gray100) !important;
        margin-bottom: 0.5rem;
        font-size: 20px;
        border-bottom: 1px solid;
        display: flex;
     }
}