@import '../../../../node_modules/include-media';

.content {
    margin: 0 auto 25px;
    color: var(--gray100);

    .section {
        max-width: 1220px;
        margin: 0 auto 25px;

        @include media("<=phone") {
        }
        @include media(">phone", "<=425px") {
            width: 100%;
        }
        @include media(">425px", "<=tablet") {
        }
        @include media(">tablet", "<desktop") {
        }
        @include media(">=desktop") {
        }

        h3 {
            font-size: 3.2rem;
            line-height: 3.2rem;
            font-weight: 900;
            font-weight: lighter;
            margin-top: 1.5rem;
            margin-bottom: 25px;
            display: flex;
            align-items: center;
            color: var(--primary-dark) !important;
            border: none;
            font-weight: 300;

            @include media("<=phone") {
            }
            @include media(">phone", "<=425px") {
                font-size: 1.5rem;
                font-weight: 500;
            }
            @include media(">425px", "<=tablet") {
            }
            @include media(">tablet", "<desktop") {
            }
            @include media(">=desktop") {
            }

            svg {
                margin-right: 1rem;

                @include media("<=phone") {
                }
                @include media(">phone", "<=425px") {
                    margin-right: 0.25rem;
                    margin-left: 0.25rem
                }
                @include media(">425px", "<=tablet") {
                }
                @include media(">tablet", "<desktop") {
                }
                @include media(">=desktop") {
                }
            }
        }
    }
}
