* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.image-gallery-left-nav .image-gallery-svg, 
.image-gallery-right-nav .image-gallery-svg {
  height: 60px !important;
  width: 30px !important;
  color: var(--primary) !important;
}

.image-gallery-bullets .image-gallery-bullet {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1px solid var(--primary) !important;
  border-radius: 50%;
  box-shadow: 0 2px 2px #1a1a1a;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  outline: none;
  padding: 5px;
  transition: all .2s ease-out;
}
  
  :root {
    --white: #ffffff;
    --gray100: #f4f6fc;
    --gray300: #a8a8b3;
    --gray700: #323238;
    --gray800: #29292e;
    --gray850: #1f2729;
    --gray900: #121214;
    --secondary: #67e0e0;
    --primary: #ab45f0;
  }
  
  @media (min-width: 1080px) {
    html{
      font-size: 87.5%;
    }
  }
  
  body {
    background: linear-gradient(rgb(77, 107, 189), rgb(196, 194, 194));
    color: var(--gray700);
    
  }
  
  body, input, textarea, select, button {
    font: 400 1rem "Roboto", sans-serif;
  }
  
  button {
    cursor: pointer;
  }
  
  a {
    color: inherit;
    display: flex;   
  }

  h3 {
    cursor: default;
  }

  h4 {
    cursor: default;
  }

  span {
    cursor: default;
  }

  p {
    cursor: default;
  }

  .skillbar-percent {
    color: var(--gray700) !important;
}
  .skillbar-bar {
    background: var(--gray300) !important;
}
  