@import "../../node_modules/include-media/";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --gray100: #f4f6fc;
  --gray300: #a8a8b3;
  --gray500: #6f6f79;
  --gray700: #323238;
  --gray800: #29292e;
  --gray850: #1f2729;
  --gray900: #121214;
  --secondary: #fff6d8;
  --tertiary: #fede7e;
  --primary: #4548f0;
  --primary-light: #4e69ff;
}

body {
  background-color: #2f5dff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%234a6ff1' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%236380e5' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%237b90db' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23909fd3' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23a4adcc' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23b5b9c8' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23C5C5C5' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  /* background by SVGBackgrounds.com */
  color: var(--gray700);
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}

h3 {
  cursor: default;
}

h4 {
  cursor: default;
}

span {
  cursor: default;
}

p {
  cursor: default;
}

// React Skillbars Styles and Media Queries
.skillbar-title {
  color: var(--secondary) !important;
  background: var(--primary) !important;
  @include media("<=phone") {
    font-size: 15px !important;
    width: 100px !important;
    font-weight: 300 !important;
  }
  @include media(">phone", "<=425px") {
    font-size: 15px !important;
    width: 100px !important;
    font-weight: 300 !important;
  }
  @include media(">425px", "<=tablet") {
    font-size: 34px !important;
    width: 200px !important;
    font-weight: 300 !important;
  }
  @include media(">tablet", "<desktop") {
    font-size: 24px !important;
    width: 200px !important;
    font-weight: 300 !important;
  }
}
.skillbar-percent {
  color: var(--gray700) !important;
  @include media("<=phone") {
    font-size: 22px !important;
  }
  @include media(">phone", "<=425px") {
    font-size: 22px !important;
  }
  @include media(">425px", "<=tablet") {
    font-size: 42px !important;
  }
  @include media(">tablet", "<desktop") {
    font-size: 32px !important;
  }
}
.skillbar-bar {
  background: var(--tertiary) !important;
  @include media("<=phone") {
    left: 100px !important;
  }
  @include media(">phone", "<=425px") {
    left: 100px !important;
  }
  @include media(">425px", "<=tablet") {
    left: 200px !important;
  }
  @include media(">tablet", "<desktop") {
    left: 200px !important;
  }
}
.skillbar {
  background: var(--secondary) !important;
  @include media("<=phone") {
    height: 25px !important;
    line-height: 25px !important;
  }
  @include media(">phone", "<=425px") {
    height: 25px !important;
    line-height: 25px !important;
  }
  @include media(">425px", "<=tablet") {
    height: 65px !important;
    line-height: 65px !important;
  }
  @include media(">tablet", "<desktop") {
    height: 35px !important;
    line-height: 35px !important;
  }
}
//---------------------------------------------//
//React Image Gallery styles and Media Queries
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 60px !important;
  width: 30px !important;
  color: var(--gray100) !important;
}

.image-gallery-bullets .image-gallery-bullet {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1px solid var(--primary) !important;
  border-radius: 50%;
  box-shadow: 0 2px 2px #1a1a1a;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  outline: none;
  padding: 5px;
  transition: all 0.2s ease-out;
}
//---------------------------------------------//
