.content {
    margin: 0 auto 25px;
    display: flex;
    max-width: 1190px;
    justify-content: space-between;
    color: var(--gray700);

    img {
        width: 415px;
        height: 300px;
        border-radius: 5px 0 0 5px;
    }

    div{
        background: var(--gray100);
        border-radius: 5px;
        height: 300px;
   
    }

    
    
    .section {
        width: 770px;
        height: 300px;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        span {
            text-align: justify;
        }
        
        p {
            margin-bottom: 15px;
            text-align: justify;
            display: flex;
            width: 750px;

            svg {
                font-size: 1.15rem;
                margin-left: 5px;                
             }
        }
        
        h4 {
            display: flex;
            flex-direction: column;
        }
        
        h3{
            color: var(--primary);
            display: flex;
            
            svg {
                margin-left: 5px;
                margin-right: 5px;
            }
        }
        
    }

    .section2{
        max-width:1180px;
    }
    
}





