@import "../../../../../node_modules/include-media";

.projectsContainer {
    border-radius: 5px;
    width: 1180px;
    margin: 0 auto 1.5rem;

    @include media("<=phone") {
        width: 100%;
    }
    @include media(">phone", "<=425px") {
        width: 100%;
    }
    @include media(">425px", "<=tablet") {
        width: 100%;
    }
    @include media(">tablet", "<desktop") {
        width: 100%;
    }
    @include media(">=desktop") {
    }
}

.projectsButton {
    img {
        height: 415px;
        border-radius: 5px;
        transform: scale(0.9);
        transition: all ease 0.5s;
        align-items: center;
        width: 1180px;

        &:hover {
            cursor: pointer;
            transform: scale(1);
            transition: all ease 0.5s;
        }

        @include media("<=phone") {
            width: 129%;
            height: 10%;
        }
        @include media(">phone", "<=425px") {
            width: 100%;
            height: 10%;
        }
        @include media(">425px", "<=tablet") {
            width: 252%;
            height: 15%;
            font-size: 1.85rem;
            font-weight: 100;
        }
        @include media(">tablet", "<desktop") {
            width: 187%;
        }
        @include media(">=desktop") {
        }
    }
}
