@import '../../../../../node_modules/include-media';
@import '../../../../Styles/breakpoints.scss';

.projectsContainer {
    border-radius: 5px;
    width: 1180px; 
    margin: 0 auto 1.5rem;

    @include media(">phone", "<=425px") {
        width: 60%;
    }
}

.projectsButton {
    
    img{        
        height: 415px;
        border-radius: 5px;
        transform: scale(0.9);
        transition: all ease 0.5s;
        align-items: center;
        width: 1180px;

        @include media(">phone", "<=425px") {
            width: 125.5%;
            height: 25%;
        }
        
        &:hover{
            cursor: pointer;
            transform: scale(1.0);
            transition: all ease 0.5s;
        }
    }
}