@import "../../../node_modules/include-media";

.contact {
    background: var(--gray700);
    border-top-right-radius: 5px;
    position: fixed;
    bottom: 0;
    z-index: 999;
    width: 338px;
    transition: ease-in-out 0.6s;

    @include media("<=phone") {
    }
    @include media(">phone", "<=425px") {
        position: sticky;
    }

    section {
        padding: 0.75rem;
        padding-top: 0.5rem;

        p {
            margin-top: 0.5rem;
            a {
                text-decoration: none;
            }
            color: var(--gray300);
            cursor: default;
            font-size: 1.15rem !important;

            @include media("<=phone") {
            }
            @include media(">phone", "<=425px") {
                font-size: 1.15rem !important;
                font-weight: 300;
            }
            @include media(">425px", "<=tablet") {
            }
            @include media(">tablet", "<desktop") {
            }
            @include media(">=desktop") {
            }

            span {
                margin-top: 2px;
                margin-left: 5px;
                cursor: pointer !important;
            }

            svg {
                margin-left: 2px;

                @include media("<=phone") {
                }
                @include media(">phone", "<=425px") {
                    font-size: 1.15rem !important;
                }
                @include media(">425px", "<=tablet") {
                }
                @include media(">tablet", "<desktop") {
                }
                @include media(">=desktop") {
                }
            }
        }
    }

    @include media("<=phone") {
    }
    @include media(">phone", "<=425px") {
        width: 100%;
    }
    @include media(">425px", "<=tablet") {
    }
    @include media(">tablet", "<desktop") {
    }
    @include media(">=desktop") {
    }
}
.contactMenu {
    border-bottom: 1px solid #a8a8b3;
    width: 58%;
    margin-left: 5%;
    align-content: center;
    flex-direction: row;
    display: flex;
    padding-top: 0.25rem;

    @include media("<=phone") {
    }
    @include media(">phone", "<=425px") {
        width: 52.85%;
    }
    a {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        text-decoration: none;

        p {
            margin-right: 7.52rem;
            margin-left: 0.25rem;
            font-weight: 700;
            @include media("<=phone") {
            }
            @include media(">phone", "<=425px") {
                margin-left: 0.5rem;
            }
        }

        color: var(--gray300);
        svg {
            color: var(--gray300);
            cursor: pointer;
        }
    }
}
.contactMenuNav {
    border-left: 1px solid #a8a8b3;
    @include media("<=phone") {
    }
    @include media(">phone", "<=425px") {
    }
    button {
        display: flex;
        align-items: center;
        border: none;
        background-color: var(--gray700);
        color: var(--gray300);
        text-transform: uppercase;
        font-weight: 700;
    }
    span {
        margin-left: 0.95rem;
        margin-right: 0rem !important;
        @include media("<=phone") {
        }
        @include media(">phone", "<=425px") {
            margin-left: 1.75rem;
        }
    }
    svg {
        margin-left: 0.45rem;
    }
}
