.contact {
    background: var(--gray700);
    position: sticky;
    bottom: 0;
    z-index: 100;
    
       
    section {
        padding: 0.75rem;        
        p{
            color: var(--gray300);
            cursor: default;
            font-size: 1.25rem !important;
        
            span {
                margin-top: 2px;
                margin-left: 5px;
                cursor: pointer !important;          
            }

            svg{                
                margin-left: 2px;
            }
        }

    }        
    
}