@import "../../../node_modules/include-media";

.contact {
    background: var(--gray700);
    border-top-right-radius: 5px;
    position: sticky;
    bottom: 0;
    z-index: 999;
    width: 338px;
    //transition: 0.3s ease-in-out;   

    section {
        padding: 0.75rem;
        padding-top: 1rem;

        p {
            margin-top: 0.5rem;
            a{
                text-decoration: none;
            }
            color: var(--gray300);
            cursor: default;
            font-size: 1.15rem !important;

            @include media("<=phone") {
            }
            @include media(">phone", "<=425px") {
                font-size: 1.15rem !important;
                font-weight: 300;
            }
            @include media(">425px", "<=tablet") {
            }
            @include media(">tablet", "<desktop") {
            }
            @include media(">=desktop") {
            }

            span {
                margin-top: 2px;
                margin-left: 5px;
                cursor: pointer !important;
            }

            svg {
                margin-left: 2px;

                @include media("<=phone") {
                }
                @include media(">phone", "<=425px") {
                    font-size: 1.15rem !important;
                }
                @include media(">425px", "<=tablet") {
                }
                @include media(">tablet", "<desktop") {
                }
                @include media(">=desktop") {
                }
            }
        }
    }

    @include media("<=phone") {
    }
    @include media(">phone", "<=425px") {
        width: 100%;
    }
    @include media(">425px", "<=tablet") {
    }
    @include media(">tablet", "<desktop") {
    }
    @include media(">=desktop") {
    }
}
