.content{
    padding: 0 2rem;
    font-size: 1.6rem;
    margin: 0 auto;
    background: var(--primary);
    min-width: 580px;
    border-radius: 5px;
    color: var(--gray100);
    

    h3 {
        font-size: 3.2rem;
        line-height: 3.2rem;
        font-weight: 900;
        margin-top: 1.5rem;
        font-weight: lighter;
        border-bottom: 1px solid;    
    }

    h4{
        color: var(--gray100);
    }

    p {
        font-size: 1.2rem;
    }
}

.section {
    margin: 2rem;
    display: flex;
    flex-direction: column;        
    
    span {
        font-size: 1.2rem;
        font-weight: lighter;
        display: flex;
    }


}