@import "../../../../../../node_modules/include-media";

.main:hover {
        background-color: var(--secondary);
        transition: 0.3s ease-in-out 
}

.section {
    padding: 2rem;
    max-width: 570px;
    width: 570px;

    @include media("<=phone") {
    }
    @include media(">phone", "<=425px") {
        width: 100%;
        padding: 0;
    }
    @include media(">425px", "<=tablet") {
    }
    @include media(">tablet", "<desktop") {
    }
    @include media(">=desktop") {
    }
    main {
        background-color: red
    }
    
    span {
        font-size: 1.4rem;
        font-weight: 300;
        display: flex;

        &:last-child {
            margin-bottom: 1.5rem;
        }

        @include media("<=phone") {
        }
        @include media(">phone", "<=425px") {
            font-weight: 400;
            font-size: 1rem;
        }
        @include media(">425px", "<=tablet") {
        }
        @include media(">tablet", "<desktop") {
        }
        @include media(">=desktop") {
        }
    }
}
.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.resumeLinks {
    display: flex;
    flex-direction: column;
}
