@import "../../../../../node_modules/include-media";

.content {
    text-align: justify;
    margin: 0rem 0 1.5rem 0;
    background: var(--primary);
    padding: 0.75rem;
    border-radius: 5px;
    color: var(--gray100);
    font-size: 12px;
    height: 205px;
    max-height: 205px;

    @include media("<=phone") {
        width: 127%;
        margin-left: 1%;
    }
    @include media(">phone", "<=425px") {
        width: 100%;
        height: 270px;
        max-height: 350px;
    }
    @include media(">425px", "<=tablet") {
        width: 100%;
        height: 320px;
        max-height: 450px;
    }
    @include media(">tablet", "<desktop") {
    }
    @include media(">=desktop") {
    }

    h3 {
        color: var(--gray100) !important;
        margin-bottom: 1rem;
        font-size: 24px;
        border-bottom: 1px solid;
        display: flex;

        @include media("<=phone") {
        }
        @include media(">phone", "<=425px") {
            font-size: 1.15rem;
        }
        @include media(">425px", "<=tablet") {
            font-size: 4.25rem;
            font-weight: 500;
        }
        @include media(">tablet", "<desktop") {
        }
        @include media(">=desktop") {
        }

        svg {
            margin-right: 0.5rem;
        }
    }

    span {
        font-size: 1.05rem;

        @include media("<=phone") {
        }
        @include media(">phone", "<=425px") {
            font-size: 0.9rem;
        }
        @include media(">425px", "<=tablet") {
            font-weight: 400;
            font-size: 2.15rem;
        }
        @include media(">tablet", "<desktop") {
        }
        @include media(">=desktop") {
        }
    }
}
