@import "../../../../node_modules/include-media";
@import "../../../Styles/breakpoints.scss";

.contentResume {
    padding: 0 2rem;
    font-size: 1.6rem;
    background: var(--gray100);
    border-radius: 5px;
    color: var(--gray700);
    display: flex;
    flex-direction: column;
    width: 1180px;
    margin: 0 auto 1.5rem;

    @include media("<=phone") {
        width: 375%;
        margin-left: 3.5%;
    }

    @include media(">phone", "<=425px") {
        width: 110%;
        margin-left: 3.75%;
    }

    @include media(">425px", "<=tablet") {
        width: 250%;
        margin-left: 2.55%;
    }

    h3 {
        font-size: 3.2rem;
        line-height: 3.2rem;
        font-weight: 300 !important;
        margin-top: 1.5rem;
        font-weight: lighter;
        border-bottom: 1px solid;
        color: var(--primary);

        @include media("<=phone") {
            font-size: 6.25rem;
            font-weight: 500;
            border: none;
        }

        @include media(">phone", "<=425px") {
            font-size: 2.25rem;
            font-weight: 500;
        }

        @include media(">425px", "<=tablet") {
            font-size: 4.25rem;
            font-weight: 500;
            border: none;
        }

        svg {
            margin-right: 5px;
        }
    }

    h4 {
        color: var(--primary);
        font-weight: 500;

        @include media("<=phone") {
            font-size: 3.15rem;
            font-weight: 700;
        }

        @include media(">phone", "<=425px") {
            font-size: 1.25rem;
            font-weight: 700;
        }
        @include media(">425px", "<=tablet") {
            font-size: 2.65rem;
            font-weight: 700;
        }
    }

    p {
        font-size: 1.2rem;
        font-weight: 500;

        @include media("<=phone") {
            font-size: 2.35rem;
            font-weight: 500;
        }

        @include media(">phone", "<=425px") {
            font-size: 1.05rem;
            font-weight: 500;
        }
        @include media(">425px", "<=tablet") {
            font-size: 2.05rem;
            font-weight: 500;
        }
    }

    div {
        margin-bottom: 1.5rem;
        display: flex;
        flex-direction: column;

        a {
            align-items: center;
            margin-top: 0.5rem;
            font-size: 1.5rem;
            color: var(--primary);

            @include media("<=phone") {
                font-size: 3.35rem;
            }
            @include media(">phone", "<=425px") {
                font-size: 1.05rem;
            }
            @include media(">425px", "<=tablet") {
                font-size: 2.55rem;
            }

            svg {
                margin-right: 5px;

                @include media("<=phone") {
                    font-size: 3.35rem;
                }
                @include media(">phone", "<=425px") {
                    font-size: 1.05rem;
                }
                @include media(">425px", "<=tablet") {
                    font-size: 2.55rem;
                }
            }
        }
    }
}

.sectionResume {
    padding: 2rem;
    display: flex;
    flex-direction: column;

    span {
        font-size: 1.4rem;
        font-weight: 300;
        display: flex;

        &:last-child {
            margin-bottom: 1.5rem;
        }

        @include media("<=phone") {
            font-size: 2.35rem;
            font-weight: 400;
        }

        @include media(">phone", "<=425px") {
            font-weight: 400;
            font-size: 0.95rem;

            &:last-child {
                margin-bottom: 1.5rem;
            }
        }

        @include media(">425px", "<=tablet") {
            font-weight: 400;
            font-size: 2.15rem;
        }
    }
}
