.content{
    max-width: 1220px;
    padding: 0 2rem;
    font-size: 1.6rem;
    background: var(--gray100);
    border-radius: 5px; 
    

    h3 {
        font-size: 3.2rem;
        line-height: 3.2rem;
        font-weight: 900;
        margin-top: 1.5rem;
        font-weight: lighter;
        border-bottom: 1px solid;
        color: var(--primary);         
    }

    h4 {
        color: var(--primary);
    }

    p {
        font-size: 1.2rem;
        font-weight: 900;
    }
    
    div {
        margin-bottom: 1.5rem;
        
        a {
            font-size: 1.5rem;
            color: var(--primary);

            svg{
                margin-right: 5px;
            }
            
        }
    }
}

.section {
    max-width: 1220px;
    margin: 2rem;
    display: flex;
    flex-direction: column;      
    
    span {
        font-size: 1.2rem;
        font-weight: lighter;
        display: flex;
    }   
}




