@import '../../../../../node_modules/include-media';

.content {
    display: flex;
    width: 1220px;
    margin: 0 auto 25px;

    @include media("<=phone") {
    }
    @include media(">phone", "<=425px") {
        flex-direction: column;
    }
    @include media(">425px", "<=tablet") {
    }
    @include media(">tablet", "<desktop") {
    }
    @include media(">=desktop") {
    }
}

.section {
    flex-direction: column;
    margin-left: 1.5rem;

    h3 {
        color: var(--gray100);
    }
}

.section2 {
    display: flex;
    width: 1220px;
    margin: 0 auto 1.5rem;
}

.section3 {
    display: flex;
    width: 1220px;
    margin: 0 auto 1.5rem;
}
