.content {
    display: flex;
    width: 1220px;
    margin: 0 auto 25px;

    
}

.section {
    flex-direction: column;
    margin-left: 1.5rem;

    h3 {
        color: var(--gray100);        
    }
}

.section2 {
    display: flex;
    width: 1220px;
    margin: 0 auto 1.5rem;
}

.section3 {
    display: flex;
    width: 1220px;
    margin: 0 auto 1.5rem;
}