@import "../../../../../node_modules/include-media";

.content {
    display: flex;
    flex-direction: column;
    width: 1220px;
    margin: 0 auto 25px;

    @include media("<=phone") {
    }
    @include media(">phone", "<=425px") {
        flex-direction: column;
        width: 98%;
        margin-left: 0.65rem;
    }
    @include media(">425px", "<=tablet") {
        width: 250%;
        margin-left: 2.55%;
    }
    @include media(">tablet", "<desktop") {
    }
    @include media(">=desktop") {
    }
    
    .section {
        margin-top: 1.5rem;
        flex-direction: column;
        
        @include media("<=phone") { 
            margin-left: 1%;
        }
        @include media(">phone", "<=425px") {
            margin-left: 0.25%;
        }
        @include media(">425px", "<=tablet") {
        }
        @include media(">tablet", "<desktop") {
        }
        @include media(">=desktop") {
        }
        
        h3 {
            color: var(--gray100);
        }
        
        .section2 {
            display: flex;
            margin: 0 auto 1.5rem;
            
            @include media("<=phone") {
            }
            @include media(">phone", "<=425px") {
                flex-direction: column;
                width: 96%;
            }
            @include media(">425px", "<=tablet") {
                width: 90%;
                margin-left: 2.55%;
            }
            @include media(">tablet", "<desktop") {
            }
            @include media(">=desktop") {
            }
        }
        
        .section3 {
            display: flex;
            margin: 0 auto 1.5rem;
            
            @include media("<=phone") {
            }
            @include media(">phone", "<=425px") {
                width: 96%;
            }
            @include media(">425px", "<=tablet") {
                width: 90%;
                margin-left: 2.55%;
            }
            @include media(">tablet", "<desktop") {
            }
            @include media(">=desktop") {
            }
        }
        
        .section4 {
            display: flex;
            margin: 0 auto 1.5rem;
            
            @include media("<=phone") {
            }
            @include media(">phone", "<=425px") {
                width: 96%;
            }
            @include media(">425px", "<=tablet") {
            }
            @include media(">tablet", "<desktop") {
            }
            @include media(">=desktop") {
            }
        }
        
        .section5 {
            display: flex;
            margin: 0 auto 1.5rem;
            
            @include media("<=phone") {
            }
            @include media(">phone", "<=425px") {
                width: 96%;
            }
            @include media(">425px", "<=tablet") {
            }
            @include media(">tablet", "<desktop") {
            }
            @include media(">=desktop") {
            }
        }
    }
}
    