.content {
   text-align: justify;
   margin: 0 1.5rem 0 0;
   background: var(--gray100);
   padding: 0.75rem;
   border-radius: 5px;
   color: var(--primary);
   font-size: 12px;
   height: 265px;
   max-height: 265px;
   min-width: 605px;
   max-width: 605px;

   h3 {
      color: var(--primary) !important;
      margin-bottom: 1rem;
      font-size: 24px;
      border-bottom: 1px solid;
      display: flex;

      svg {
         margin-right: 0.5rem;
      }
   }

   span {
      font-size: 1.05rem;
   }
}
